@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background: #0e0e0e;
 font-family: 'Montserrat', sans-serif;
}

input {
  text-align: start;
  width: 80vw;
  height: 45px;
  border: none;
  padding: 0 15px 2px 15px;
}

.MainContainer {
  background-color: #29282a;
}

.main {
  background-color: red;
  height: 90vh;
  width: full;
}

.QRCode {
  box-shadow: 0 0 20px 10px #1e1e1e;
}

.DownloadButton {
  box-shadow: 0 0 20px 10px #1e1e1e;
}

.TextInput {
  outline: none;
  background-color: rgb(79, 79, 79);
  box-shadow: inset 0 0 20px 10px #404040;
}

.TextInput::placeholder {
  color: #0e0e0e;
}

.material-icons {
  background-color: rgb(221, 221, 221);
}

.Editor {
  background-color: rgb(79, 79, 79);
  box-shadow: 0 0 20px 10px #1e1e1e;
}

.Color {
  box-shadow: 0 0 7px 3px #1e1e1e;
}

.Size {
  background-color: rgb(54, 54, 54);
}