@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background: #16193a;
}

input {
  text-align: start;
  width: 80vw;
  height: 45px;
  border: none;
  padding: 0 15px 2px 15px;
}

.main {
  background-color: red;
  height: 90vh;
  width: full;
}

.QRCode {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}