@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background: #0e0e0e;
}

input {
  text-align: start;
  width: 80vw;
  height: 45px;
  border: none;
  padding: 0 15px 2px 15px;
}

.MainContainer {
  background-color: #29282a;
}

.main {
  background-color: red;
  height: 90vh;
  width: full;
}

.QRCode {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.TextInput {
  outline: none;
  background-color: rgb(79, 79, 79);
}

.Editor {
  background-color: rgb(79, 79, 79);
}

.Size {
  background-color: rgb(54, 54, 54);
}